<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	<link rel="stylesheet" type="text/css" href="/jquery/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="/jquery/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/css/customSearch.css">
	<script type="text/javascript" src="/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/jquery/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/jquery/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="/js/project.js"></script>

    
</head>
<body class="easyui-layout" style="padding: 5px">

	<div id="searchPanel" class="easyui-panel" title="搜索条件" style="height:170px;padding:5px;"
		 data-options="iconCls:'icon-search',collapsible:true">

		<form id="searchForm" class="easyui-form" method="post" data-options="novalidate:true" >
			<div class="thLeft thPadT5 tab_select">
				<dl class="clrfix">
					<dt>项目类型</dt>
					<dd id="dd1" class="clr_after">
						<a href="#" onclick="doSearchByType('全部',this)">全部</a>
						<a href="#" onclick="doSearchByType('产品实施',this)">产品实施</a>
						<a href="#" onclick="doSearchByType('定制开发',this)">定制开发</a>
					</dd>
				</dl>
				<dl class="clrfix">
					<dt>进度进度</dt>
					<dd id="dd2" class="clr_after">
						<a href="#" onclick="doSearchBySchedule('全部',this)">全部</a>
						<a href="#" onclick="doSearchBySchedule('全部',this)"/>未开始</a>
						<a href="#" onclick="doSearchBySchedule('全部',this)">进行中</a>
						<a href="#" onclick="doSearchBySchedule('全部',this)">已完成</a>
					</dd>
				</dl>
				<dl class="clrfix">
					<dt>项目阶段</dt>
					<dd class="clr_after">
						<a href="#">全部</a>
						<a href="#">准备阶段</a>
						<a href="#">需求阶段</a>
						<a href="#">设计与开发阶段</a>
						<a href="#">测试阶段</a>
						<a href="#">上线与验收阶段</a>
						<a href="#">运维阶段</a>
					</dd>
				</dl>
				<dl class="clrfix">
					<dt>项目收款</dt>
					<dd class="clr_after">
						<a href="#">全部</a>
						<a href="#">0%</a>
						<a href="#">30%</a>
						<a href="#">60%</a>
						<a href="#">90%</a>
						<a href="#">100%</a>
					</dd>
				</dl>

			</div>

		</form>

		<div style="margin:10px auto auto auto;">
			<input  id="searchInput" class="easyui-searchbox" data-options="prompt:'请输入项目名称',searcher:doSearchByName" style="width:20%">
		</div>

	</div>

	<div style="height: 5px"></div><!-- 配合控制两个panel的间距 -->

	<div id="listPanel" class="easyui-panel" title="项目列表" style="height: 600px;padding:5px;"
		 data-options="iconCls:'icon-save'">
		<table    id="DataGrid"

				  class="easyui-datagrid"

				  style="width:100%;height:100%;"

				  data-options="rownumbers:true,

			              singleSelect:true,

			              pagination:true,

			              url:'/service/getProjectList',

			              method:'get',

			              toolbar:'#toolbar',

			              onClickRow:getSelected">

			<thead data-options="frozen:true">
			<tr>
				<th data-options="field:'ck',checkbox:true"></th>
				<th data-options="field:'customerName',width:100,align:'left'">客户名称</th>
				<th data-options="field:'projectCode',width:80,align:'left'">项目编号</th>
				<th data-options="field:'projectName',width:300,align:'left'">项目名称</th>
			</tr>
			</thead>

			<thead>
			<tr>
				<th data-options="field:'typeCode',width:80,align:'left'">项目类型</th>

				<th data-options="field:'contractAmount',width:80,align:'right'">合同总额</th>
				<th data-options="field:'pmName',width:80,align:'center'">项目经理</th>
			</tr>
			</thead>
		</table>

	</div>

	    	
</body>
</html>