<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
  <link rel="stylesheet" type="text/css" href="../static/css/customSearch.css">

</head>

<body>
<div class="thLeft thPadT5 tab_select">
            <dl class="clrfix">
              <dt>项目类型</dt>
              <dd class="clr_after">
			  <a href="#">全部</a>
                <a href="#">产品实施</a>
                <a href="#">定制开发</a>
              </dd>
            </dl>
            <dl class="clrfix">
              <dt>进度状态</dt>
              <dd class="clr_after">
			  <a href="#">全部</a>
                <a href="#">未开始</a>
                <a href="#">进行中</a>
                <a href="#">已完成</a>
              </dd>
            </dl>
            <dl class="clrfix">
              <dt>里程碑状态</dt>
              <dd class="clr_after">
			  <a href="#">全部</a>
                <a href="#">准备阶段</a>
                <a href="#">需求阶段</a>
                <a href="#">设计与开发阶段</a>
                <a href="#">测试阶段</a>
                <a href="#">上线与验收阶段</a>
                <a href="#">运维阶段</a>
              </dd>
            </dl>

			<dl class="clrfix">
              <dt>收款比列</dt>
              <dd class="clr_after">
			  <a href="#">全部</a>
                <a href="#">0%</a>
                <a href="#">30%</a>
                <a href="#">60%</a>
                <a href="#">90%</a>
                <a href="#">100%</a>
              </dd>
            </dl>

          </div>
</body>
</html>
